.ProductsHeader {
    width: 100%;
    height: 500px;
    background: url('../../images/products/products_header.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductsHeader-title > p {
    color: #fff;
    font-size: 1.4375rem;
    margin-top: 0px;
    padding-top: 99px;
    text-align: center;
}

.ProductsHeader-title > p > span {
    color: #fff;
    font-size: 1.4375rem;
    margin-top: 0px;
    text-align: center;
}

.ProductsHeader-input {
    display: flex;
    justify-content: center;
}

.ProductsSearch-wrap {
    width: 600px;
    position: relative;
}

.ProductsSearch-wrap > input {
    margin-top: 27px;
    width: 600px;
    height: 45px;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 2px 2px 0 2px;
    box-shadow: 1px 1px 10px 1px #00000026;
}

.ProductsSearch-wrap > input::-webkit-input-placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #d9d9d9;
    padding-left: 7px;
}

.ProductsSearch-btn {
    width: 60px;
    height: 45px;
    background: #b79973;
    border-radius: 0px 2px 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 27px;
}

.ProductsSearch-btn:hover {
    background: #aa8b64;
    cursor: pointer;
}

@media (max-width: 768px) {
    .ProductsSearch-wrap > input {
        width: 522px;
    }

    .ProductsSearch-wrap {
        width: 522px;
    }
}

@media (max-width: 375px) {
    .ProductsSearch-wrap > input {
        width: 320px;
    }

    .ProductsSearch-wrap {
        width: 320px;
    }
    .ProductsHeader-title {
        width: 256px;
        font-size: 1.25rem;
        margin: auto;
    }
    .ProductsHeader-title > p {
        font-size: 1.25rem;
        padding-top: 79px;
    }

    .ProductsHeader-title > p > span {
        display: block;
        font-size: 1.25rem;
    }
}
