/* *{
    outline: 1px solid red;
} */
.view-more-text {
    width: 100px;
    color: black;
    text-align: center;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}
.view-more-text:hover {
    color: #B79973;
}

.view-more-link {
    width: 100%;
    padding-left: 50%;
    /* transform:translateX(50%); */
}

.arrow-icon-right {
    width: 50px;
    position: relative;
    top:-35px;
    left:95px;
}