.view-more-text {
    width: 100px;
    color: black;
    text-align: center;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}
.view-more-text:hover {
    color: #324A59;
    /* color: #B79973; */
}

.view-more-link {
    /* margin: auto; */
}

.arrow-icon-right {
    position: relative;
    top:-35px;
    left:95px
}