.goodcourse-wrap {
    justify-content: center;
}

.goodcourse-paragraph {
    width: 500px;
    height: 270px;
    background-color: #d9d9d9;
    padding: 20px 20px;
    color: black;
}
.goodcourse-box {
    width: 1100px;
    position: relative;
}

.goodcourse-img {
    width: 594px;
    height: 424px;
}
/* .goodcourseimg-scale img:hover {
    transform: scale(1.1);
} */

.goodcourse-text {
    line-height: 2.5rem;
    padding-top: 10px;
}

.container-relative {
    position: relative;
    background-color: #fcfaf7;
}

.right-brewedcoffee {
    position: absolute;
    left: 554px;
    bottom: -20px;
}
.right-barista-img {
    position: absolute;
    top: 50px;
    left: 460px;
}
.left-barista {
    position: absolute;
    top: 150px;
    /* left: 0px; */
    z-index: 99;
}

.foodCourse-btn {
    transform: translateX(100px) translateY(-200px);
}
.pagetop-wrap {
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.pagetop-btn {
    text-align: center;
}
.pagetop-text {
    text-align: center;
}
.home-box {
    /* width: 1100px; */
}

/* 淡出淡入效果 */
.textfrom {
    transform: translateX(-100px);
    opacity: 0;
}
.textto {
    transform: translateX(0px);
    opacity: 1;
    transition: all 1s;
}
.photofrom {
    transform: translateX(100px);
    opacity: 0;
}
.phototo {
    transform: translateX(0px);
    opacity: 1;
    transition: all 1s;
}



@media screen and (max-width:400px) {
    .goodcourseimg-scale img{
        width: 327px;
        height: 196px;
    }
    .goodcourse-img {
        width: 327px;
        height: 196px;
    }
    .goodcourse-paragraph {
        width: 341px;
        height: 230px;
    }
    .goodcourse-text {
        line-height: 1.5rem;
    }
    .container-relative {
        position: relative;
    }
    .right-brewedcoffee {
        position: absolute;
        top:170px;
        left:20px
    }
    .left-barista {
        position: absolute;
        /* top: */
    }
    .right-barista-img {
        position: absolute;
        top:80px;
        left: 0px;
    }
    .left-barista {
        position: absolute;
        top:250px;
        left: 20px;
        
    }
    .goodcourse-wrap {
        margin-bottom: 150px;
    }
}
