.filterbutton{
    width: 130px;
    height: 44px;
    border-radius: 3px;
    font-size: 18px;
    background-color: #253945;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 40px 0;
}