.nav-header {
    width: 100%;
    z-index: 999;
    background-color: #253945;
    height: 60px;
    user-select: none;
    top: 0px;
    left: 0px;
    .nav-header-wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-menu {
            display: none;
        }
        @media (max-width: 992px) {
            .nav-menu {
                display: block;
            }
        }
    }
    nav {
        @media (max-width: 992px) {
            .nav-logo {
                width: 100%;
                text-align: center;
            }
            .nav-menu {
                padding-left: 1px;
            }
        }
        .nav-ul {
            height: 60px;
            align-items: center;
            display: flex;
            .nav-logo {
                cursor: pointer;
            }
            li {
                a {
                    display: inline-block;
                    line-height: 60px;
                    padding: 0 17.5px 0 17.5px;
                    color: #ffffff;
                    text-decoration: none;
                    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
                }
                .nav-game-ul,
                .nav-member-ul,
                .nav-course-ul {
                    text-align: center;
                    position: absolute;
                    z-index: 9999;
                    background-color: #253945;
                    left: -20px;
                    top: 60px;
                    white-space: nowrap;
                    border-radius: 0 0 3px 3px;
                    min-width: 105px;
                    animation: opacity 0.5s linear;
                    li {
                        font-size: 0.625rem;
                        a {
                            padding: 13.5px 0;
                            width: 100%;
                            line-height: 25px;
                        }
                    }
                }
                .nav-display-none {
                    display: none;
                }
            }
            .nav-game-li,
            .nav-member-li,
            .nav-course-li {
                position: relative;
                .member-a,
                .game-a,
                .course-a {
                    pointer-events: none;
                }
            }
        }
        @media (max-width: 992px) {
            .nav-media-display-none {
                display: none;
            }
        }
        .nav-icon-wrap {
            align-items: center;
        }
        div {
            div {
                cursor: pointer;
            }
            .cart-icon {
                margin-right: 35px;
                position: relative;
                .cart-icon-count {
                    background-color: #b79973;
                    min-width: 20px;
                    min-height: 20px;
                    padding: 1px 2px;
                    position: absolute;
                    top: -8px;
                    right: -12px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #253945;
                    font-weight: bolder;
                    font-size: 12px;
                    letter-spacing: 0px;
                    span {
                        font-size: 12px;
                        transform: scale(calc(9 / 12));
                        position: absolute;
                        right: -2px;
                        top: -2px;
                    }
                }
            }
            .member-icon {
                line-height: 60px;
            }
            @media (max-width: 992px) {
                .cart-icon {
                    margin: 0;
                }
            }
            .member-name {
                font-size: 0.9rem;
                color: #fff;
                height: 100%;
                line-height: 60px;
                width: 134.3px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    font-size: 0.9rem;
                    color: #b79973;
                    font-weight: bolder;
                }
            }
        }
    }
}

.nav-sign-out-ul {
    position: relative;
    li {
        animation: opacity 0.5s linear;
        color: #fff;
        position: absolute;
        top: 0;
        right: 30px;
        text-align: center;
        z-index: 9999;
        background-color: #253945;
        white-space: nowrap;
        border-radius: 0 0 3px 3px;
        min-width: 105px;
        font-size: 0.9rem;
        padding: 12px 0;
    }
    .signout-display-none {
        display: none;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .nav-member-li {
        display: none;
    }
}

.text_nowrap {
    white-space: nowrap;
    padding: 0px 14px !important;
    @media (max-width: 1200px) {
        padding: 0px 12px !important;
    }
}

.text_py {
    white-space: nowrap;
    padding: 9px 14px !important;
    @media (max-width: 1200px) {
        padding: 9px 12px !important;
    }
}
