.nav-header {
    background-color: #253945;
    .nav-header-wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-menu {
            display: none;
        }
        @media (max-width: 375px) {
            .nav-menu {
                display: block;
            }
        }
    }
    nav {
        @media (max-width: 375px) {
            .nav-logo {
                width: 100%;
                text-align: center;
            }
            .nav-menu {
                padding-left: 1px;
            }
        }
        .nav-ul {
            height: 60px;
            align-items: center;
            display: flex;
            .nav-logo {
                cursor: pointer;
            }
            li {
                padding: 0 17.5px 0 17.5px;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
                }
            }
        }
        @media (max-width: 375px) {
            .nav-media-display-none {
                display: none;
            }
        }
        div {
            div {
                cursor: pointer;
            }
            .cart-icon {
                margin-right: 35px;
            }
            @media (max-width: 375px) {
                .cart-icon {
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .nav-header {
        height: 65px;
    }
}
