.nav-header {
    background-color: #253945;
    .nav-header-wrap {
        justify-content: space-between;
    }
    nav {
        .nav-ul {
            height: 60px;
            align-items: center;
            .nav-logo {
                cursor: pointer;
            }
            li {
                padding-right: 35px;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
                }
            }
        }
        div {
            div {
                cursor: pointer;
            }
            .cart-icon {
                margin-right: 35px;
            }
        }
    }
}

@media (max-width: 375px) {
    .media-nav-display-none {
        display: none !important;
    }
}
