

.Sort-wrap{
    width: 100%;
    height: 40px;
    color: #3E3E3E;
    justify-content: space-between;
    margin: 21px 0 22px;
    align-items: center;
}

.sort{
    width: 290px;
    height: 40px;
    color: #3E3E3E;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:url(/public/course/imgs/sort-img.png) no-repeat 92% 50% transparent;
    background-color: #fff;
    border: 1px solid #FFFFFF;
    font-size: 1rem;
    padding-left: 16px;
    outline: none;
}

.num-color{
    color: #B79973;
}

