.CourseSort-wrap {
    width: 100%;
    height: 40px;
    color: #3e3e3e;
    justify-content: space-between;
    margin: 21px 0 22px;
    align-items: center;
    display: flex;
}

.Coursesort {
    width: 290px;
    height: 40px;
    color: #3e3e3e;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/src/images/course/sort-img.png) no-repeat 92% 50%
        transparent;
    background-color: #fff;
    border: 1px solid #ffffff;
    font-size: 1rem;
    padding-left: 16px;
    outline: none;
}

.sortGrey {
    width: 290px;
    height: 40px;
    color: #3e3e3e;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/src/images/course/sort-img-01.png) no-repeat 92% 50%
        transparent;
    background-color: #fff;
    border: 1px solid #ffffff;
    font-size: 1rem;
    padding-left: 16px;
    outline: none;
}

.num-color {
    color: #b79973;
}

@media (max-width: 375px) {
    .CourseSort-wrap {
        display: block;
        text-align: center;
    }
    .Coursesort-txt {
        padding-bottom: 23px;
    }
}
