.fake_body {
    background-color: var(--CREAM);
    position: relative;
}

.cart_tab_wrap {
    position: relative;
}

.tab_button_group {
    position: absolute;
    left: 0px;
    top: 0px;
}

.tab_button {
    
}