.creditcard_wrap {
    width: 520px;
    height: 550.76px;
}

.creditcard_flip {
    width: 433px;
    height: 243.5625px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: all 1s ease-out;
}

.creditcard_flip_active {
    @extend .creditcard_flip;
    transform: rotateY(180deg);
}

%frame_basic {
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.65);
    z-index: 3;
}

.frame_blur {
    @extend %frame_basic;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.fram_number_focus {
    @extend %frame_basic;
    transform: translateX(30px) translateY(100px);
    width: 373px;
    height: 60px;
    opacity: 1;
}

.fram_name_focus {
    @extend %frame_basic;
    transform: translateX(30px) translateY(163px);
    width: 265px;
    height: 60px;
    opacity: 1;
}

.fram_valid_focus {
    @extend %frame_basic;
    transform: translateX(300px) translateY(163px);
    width: 100px;
    height: 60px;
    opacity: 1;
}

.creditcard_containter {
    width: 433px;
    height: 243.5625px;
    border-radius: 10px;
    background-color: skyblue;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
    transform-origin: center;
    backface-visibility: hidden;
}

.creditcard_containter_back {
    @extend .creditcard_containter;
    transform: rotateY(180deg);
}

.card_bottom {
    display: flex;
    justify-content: space-between;
    width: 340.47px;
    height: 32px;
}

.cvv_wrap {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    > p {
        font-size: 12px;
        text-align: end;
        margin-bottom: 5px;
        padding-right: 10px;
    }
}

// --------------------------------------------------------

.card_container,
.card_container * {
    user-select: none;
}
.card_number {
    position: relative;
    width: 340.48px;
    height: 48px;
}

.card_number > div {
    position: absolute;
    top: 0px;
    left: 0px;
}

.card_number span {
    font-size: 36px;
    padding: 0px;
    width: 21.28px;
    color: #333;
}
.card_name {
    height: 32px;
    position: relative;
}
.card_name::before {
    content: "持卡人姓名";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 32px;
    font-size: 12px;
    white-space: nowrap;
}
.card_name span {
    font-size: 20px;
    height: 32px;
    padding: 0px;
    color: #333;
}
.space_width {
    min-width: 9px;
}

.card_name_split {
    height: 32px;
    display: flex;
    align-items: center;
}
.hide_text {
    overflow: hidden;
    position: relative;
}

.text_span {
    display: none;
}
.card_valid_date {
    position: relative;
}
.card_valid_date::before {
    content: "Valid Date";
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 32px;
    font-size: 12px;
    white-space: nowrap;
}

.slide-enter {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
}

.slide-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition-delay: 0.1s;
    display: inline-block;
}

.slide-enter-done {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

.slide-exit {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

.slide-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    display: inline-block;
}

.slide-exit-done {
    opacity: 0;
    transform: translateY(-20px);
    display: inline-block;
}
.right-enter {
    opacity: 0;
    transform: translateX(20px) rotate(45deg);
    display: inline-block;
}

.right-enter-active {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 0.15s;
    display: inline-block;
}

.right-enter-done {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    display: inline-block;
}

.right-exit {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    display: inline-block;
}

.right-exit-active {
    opacity: 0;
    transform: translateX(-20px) rotate(45deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: inline-block;
}

.right-exit-done {
    opacity: 0;
    transform: translateX(-20px) rotate(45deg);
    display: inline-block;
}

/* ----------------分隔線-------------------- */

.fade-slide-enter {
    opacity: 0;
    transform: translateY(10px);
    display: inline-block;
}

.fade-slide-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    display: inline-block;
}

.fade-slide-enter-done {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

.fade-slide-exit {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

.fade-slide-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    display: inline-block;
}

.fade-slide-exit-done {
    opacity: 0;
    transform: translateY(-10px);
    display: inline-block;
}
.fade-enter {
    opacity: 0;
    display: inline-block;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

.fade-enter-done {
    opacity: 1;
    display: inline-block;
}

.fade-exit {
    opacity: 1;
    display: inline-block;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

.fade-exit-done {
    opacity: 0;
    display: inline-block;
}
