.cart_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 26px;
    background-color: #fff;
    border: 1px solid var(--GRAY);
    border-radius: 0px 0px 3px 3px;
}

.label_basic {
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: var(--BLUE);
}

.input_basic {
    height: 36px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    padding: 0px 9px;
    margin-bottom: 20px;
    border: 1px solid var(--DARKGRAY);
    &:focus {
        border: 2px solid var(--GOLD);
    }
    &:last-child {
        margin-bottom: 16px;
    }
}

.name_id {
    box-sizing: border-box;
}
.phone_id {
    box-sizing: border-box;
}
.email_id {
    box-sizing: border-box;
}
.pay_way_id {
    box-sizing: border-box;
}
.deliver_way_id {
    box-sizing: border-box;
}
.address_id {
    box-sizing: border-box;
}
.address_id {
    box-sizing: border-box;
}
.card_id {
    box-sizing: border-box;
}
