.courseList {
    background-color: #fff;
    width: 1040px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #00000026;
    margin-bottom: 14px;
}
.courseList:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}

.courseList::before {
    display: block;
    content: "";
    background-color: #8b959c;
    border-radius: 10px 0px 0px 10px;
    width: 16px;
    height: 90px;
}

.List-img {
    width: 77px;
    height: 77px;
    background-color: #d1cfcf;
    border-radius: 2px;
    margin-left: 48px;
}

.List-title {
    width: 176px;
    color: #3e3e3e;
    font-weight: 600;
    line-height: 19px;
    padding-left: 33px;
    margin-right: 24px;
}

.List-level {
    color: #8da47f;
    font-size: 1.0625rem;
    line-height: 21px;
    height: 52px;
    display: flex;
    align-items: center;
    border-left: 1px solid #e4d5c9;
    border-right: 1px solid #e4d5c9;
    padding-left: 63px;
    padding-right: 63px;
}

.List-level-normal {
    color: #cf8f54;
    font-size: 1.0625rem;
    line-height: 21px;
    height: 52px;
    display: flex;
    align-items: center;
    border-left: 1px solid #e4d5c9;
    border-right: 1px solid #e4d5c9;
    padding-left: 63px;
    padding-right: 63px;
}

.List-level-hard {
    color: #a45959;
    font-size: 1.0625rem;
    line-height: 21px;
    height: 52px;
    display: flex;
    align-items: center;
    border-left: 1px solid #e4d5c9;
    border-right: 1px solid #e4d5c9;
    padding-left: 63px;
    padding-right: 63px;
}

.List-price {
    color: #3e3e3e;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding-left: 45px;
}
.List-price > span {
    width: 45px;
}

.List-edit-icon {
    background: url(/src/images/course/edit.png) center center no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-left: 270px;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.List-edit-icon:hover {
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.45));
}

.List-delete-icon {
    background: url(/src/images/course/delete.png) center center no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.List-delete-icon:hover {
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.45));
}

.course-list-opacity {
    animation: courseListOpacity 0.9s linear;
}

@keyframes courseListOpacity {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0.1;
    }
}
