/* .foodpage {
    position: relative;
} */

.filterbtn-area {
    display: flex;

    margin: 0 42px;
}

.foodcard-session {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 0 calc(100% / 50);
}

@media (max-width: 768px) {
    .Food-container {
        min-width: 768px;
    }
}

@media (max-width: 375px) {
    .Food-container {
        min-width: 375px;
        .foodcard-session {
            justify-content: center;

            .filterbtn-area {
                // display: flex;
                width: auto;
                width: 100%;
                margin: 0 0;
            overflow-x: scroll;
            }
        }
    }
}
