/* .foodpage {
    position: relative;
} */

.Food-container{
    user-select: none;
}

.filterbtn-area {
    display: flex;

    margin: 0 42px;
}

.foodcard-session {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 0 calc(100% / 50);
    user-select: none;
}

@media (max-width: 768px) {
    .Food-container {
        min-width: 768px;
    }
}

@media (max-width: 375px) {
    .Food-container {
        min-width: 375px;
    

            .filterbtn-area {
                display: flex;
                width: 375px;
                justify-content: center;
                margin: 0 0;
                transform: translateX(-17px);
                .filterbutton{
                    margin:10px 5px;
                    width: 60px;
                    padding: 3px;
                }

            }

    }
}
