.reserve {
    margin: 100px 0;
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #253945;
    overflow: scroll;
    border-radius: 10px;
    color: #253945;
}
.reserve::-webkit-scrollbar {
    display: none;
}

.left {
    width: 100px;
    height: 40px;
    background-color: #fff;
}

.store {
    width: 100px;
    height: 50px;
    background-color: #d9dfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
    margin: 10px 0;
}
.branchchoice {
    display: flex;
    justify-content: center;
    width: 100%;
}
.a {
    width: 400px;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    color: #324a59;
    text-align: center;
}

.price {
    display: flex;
    justify-content: space-between;
}
.infor {
    width: 100px;
    height: 50px;
    background-color: #eee5dd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 10px 43px;
    cursor: pointer;
}

.reserve-txt {
    padding: 10px 50px;
    color: #d9dfdf;
    line-height: 2rem;
}

.submit {
    width: 200px;
    height: 50px;
    color: #324a59;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 3px;
    background-color: rgb(207, 173, 128);
    cursor: pointer;
}

.submit.disabled {
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
}
.reserve select {
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 768px) {
    .Food-container {
        min-width: 768px;
    }
}

@media (max-width: 375px) {
    .Food-container {
        min-width: 375px;
    }
    .Food-container .foodcard-session {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .Food-container .foodcard-session .filterbtn-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0;
        overflow-x: scroll;
    }

    .reserve {
        width: 300px;
    }
    .reserve .a {
        width: 300px;
        height: 30px;
        font-size: 12px;
    }

    .reserve .store {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .reserve .submit {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .reserve h6 {
        font-size: 12px;
    }
    .reserve .infor {
        width: 80px;
        height: 30px;
        margin: 20px 13px;
        font-size: 10px;
    }
    .reserve-txt {
        padding: 10px 10px;
        font-size: 10px;
        font-weight: lighter;
        line-height: 1.3rem;
    }
}
