@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

.products_page {
    user-select: none;
}
.producstsScrolltop {
    width: 33px;
    border: none;
    border-radius: 25px;
    bottom: 30px;
    height: 50px;
    position: fixed;
    left: 30px;
    width: 50px;
    z-index: 6;
    cursor: pointer;
    background-color: transparent;
    svg {
        width: 50px;
        border: none;
        height: 50px;
    }
}
