@mixin productsMob {
    @media (max-width: 768px) {
        @content;
    }
}


.productPic {
    width: 509px;
    margin-right: 27px;
    border-radius: 10px;
    // height: 380px;
    // border: 1px solid var(--BLUE);
    // object-fit: cover;
        @include productsMob{
            width: 343px;
        }
    .magnifier-image {
        width: 100%;
        border: 1px solid var(--BLUE);
        border-radius: 10px;
        height: 100%;
        object-fit: contain;
        @include productsMob{
            border: 0;
        }
    }
}
.littlePic {
    width: 86px;
    display: flex;
    border-radius: 3px;
    @include productsMob(){
        display: none;
    }
    img {
        width: 100%;
        margin-right: 15px;
        border: 1px solid var(--BLUE);
        border-radius: 3px;
        cursor: pointer;
    }
}
.tagWrap {
    margin-top: 24px;
    display: flex;
    align-items: baseline;
    @include productsMob{
        margin: 16px 0px 37px;
    }
    p{
        font-size: 16px;
    }
    .card_tag {
        background-color: var(--GOLD);
        width: 54px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        border-radius: 15px;
        color: #fff;
        font-size: 0.875rem;
        margin-right: 14px;
    }
}