.productInfo {
    .productIntro {
        margin-top: 40px;
        margin-bottom: 14px;
    }
    .tagArea {
        display: flex;
        li {
            margin-right: 10px;
        }
    }
    h5 {
        margin-top: 25px;
    }
    .productsCount {
        display: flex;
        justify-content: start;
        align-items: center;
        .buttonWrap {
            display: flex;
            align-items: center;
            .minusButtonStyle {
                width: 36px;
                height: 36px;
                background-color: transparet;
                border: none;
                outline: none;
                color: var(--BLUE);
                cursor: pointer;
                background: center center / 16px 16px no-repeat;
                flex-shrink: 0;
                background: url(../../../images/cart/minus.svg) center center /
                    16px 16px no-repeat;
            }
            .inputStyle {
                padding: 0px;
                height: 36px;
                font-size: 16px;
                border: none;
                outline: none;
                border-bottom: 1px solid var(--BLUE);
                text-align: center;
                width: 50px;
                flex-shrink: 0;
                background-color: #fefefd;
            }
            .plusButtonStyle {
                width: 36px;
                height: 36px;
                background-color: transparent;
                border: none;
                outline: none;
                color: var(--BLUE);
                cursor: pointer;
                flex-shrink: 0;
                background: url(../../../images/cart/plus.svg) center center /
                    16px 16px no-repeat;
            }
        }
    }
}
