.time-lightbox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #4d4944;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #3e3e3e;
    svg {
        cursor: pointer;
    }
    .detail1 {
        width: 50%;
        height: 100%;
        /* height: 100vh; */
        background: #eee5dd;
        margin: 0 auto;
        padding: 60px 0;
        /* overflow: scroll; */
        position: fixed;
        right: 25%;
        left: 25%;

        .top {
            height: 60px;
            background-color: #d9dfdf;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 50%;
            color: #3e3e3e;
        }
        .selectTime {
            display: flex;
            .middle {
                margin-top: 60px;
                padding: 0 20px 20px 20px;
                background-color: #eee5dd;
                height: auto;
                .select {
                    margin-bottom: 20px;
                }
                .datetime {
                    width: 50%;
                    height: 40px;
                    border: 1px solid #ccc;
                    padding: 0 20px;
                    font-size: 16px;
                }
                .calendar {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;

                    .date {
                        width: 77px;
                        height: 100px;
                        background-color: #fff;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 10px;

                        text-align: center;
                    }
                }
            }
            .middle1 {
                padding: 0 20px 20px 20px;

                background-color: #eee5dd;
                height: 100px;
                .select {
                    margin-bottom: 20px;
                }
                .datetime {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #ccc;
                    padding: 0 20px;
                    font-size: 16px;
                }
            }
        }
        .bottomarea {
            width: 50%;
            height: 82px;
            background-color: #d9dfdf;
            position: fixed;
            bottom: 0;
            right: 25%;
            left: 25%;
            .bottoms {
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                background-color: #253945;
                border-radius: 3px;
                color: #eee5dd;
            }
        }
    }
}

@media (max-width: 375px) {
    .time-lightbox {
        position: absolute;
        width: 100%;
        height: 100vh;

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;

        .detail1 {
            width: 100%;
            right: 0%;
            left: 0%;

            .top {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                width: 100%;
            }
            .close {
                display: none;
            }
            .middle {
                margin-top: 60px;
                padding: 0 20px 20px 20px;
                height: auto;
                .select {
                    margin-bottom: 20px;
                }
                .datetime {
                    width: 100%;
                    height: 40px;
                    padding: 0 20px;
                }
                .calendar {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;

                    .date {
                        width: 77px;
                        height: 100px;
                        padding: 10px;
                        border-radius: 10px;

                        text-align: center;
                    }
                }
            }
            .bottomarea {
                width: 100%;
                height: 52px;
                right: 0%;
                left: 0%;
                .bottoms {
                    height: 32px;
                    margin: 10px;
                    color: #eee5dd;
                }
            }
        }
    }
}
