.food-lightbox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    /* opacity: 0.89; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding-top: 60px;
    user-select: none;
    .detail {
        width: 50%;
        height: 100%;
        /* height: 100vh; */
        background: #fcfaf7;
        margin: 0 auto;
        padding: 20px 27px 20px 27px;
        overflow: scroll;
        color: #3e3e3e;
        border-radius: 10px;

        svg {
            cursor: pointer;
        }

        .detail-photoarea {
            display: flex;

            .photo {
                object-fit: cover;
                object-position: 20% 60%;
                width: 480px;
                height: 380px;
                border-radius: 10px;
                margin-right: 45px;
            }
            .photoaside {
                flex-grow: 1;
            }
            .title-font {
                font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
                font-size: 30px;
            }
            .menu_price_m {
                font-size: 24px;
            }
        }

        .choice {
            width: 100%;
            height: 45px;
            background-color: #e4d5c9;
            border-radius: 3px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-size: 20px;
            margin: 20px 0;

            .lg-field-err {
                margin: 5px 0;
                padding-left: 10px;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .inputArea {
            display: flex;
            align-items: center;
            cursor: pointer;
            .inner {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #ffffff;
                border: 1px solid #e4d5c9;
                margin-right: 10px;
            }
            .inner.checked {
                background-color: #e4d5c9;
                width: 18px;
                width: 18px;
            }
            .inputla {
                font-size: 20px;
            }
        }

        .cal {
            display: flex;
            margin-top: 20px;
            cursor: pointer;

            .count {
                width: 41px;
                background-color: #c5ad8f;
                color: #fff;
                border: none;
                text-align: center;
                font-size: 18px;
                border-radius: 3px;
                /* box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1); */
                /* padding: 8px 0px; */
                white-space: nowrap;
                cursor: pointer;
            }

            .foodcount {
                width: 47px;
                text-align: center;
                border-bottom: 1px solid #d1cfcf;
                margin-right: 15px;
                margin-left: 15px;
                color: #3e3e3e;
                padding-top: 5px;
                font-size: 20px;
                font-weight: 500;
            }

            .order {
                width: 100%;
                background-color: #c5ad8f;
                color: #fff;
                border: none;
                text-align: center;
                font-size: 18px;
                border-radius: 3px;
                /* box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1); */
                padding: 8px 0px;
                white-space: nowrap;
                cursor: pointer;
                margin-left: 20px;
            }
            .order.disabled {
                width: 100%;
                background-color: #ccc;
                color: #fff;
                border: none;
                text-align: center;
                font-size: 18px;
                border-radius: 3px;
                /* box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1); */
                padding: 8px 0px;
                white-space: nowrap;
                cursor: pointer;
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 375px) {
    .food-lightbox {
        position: absolute;
        width: 375px;
        height: 100vh;
        background-color: #4d4944;
        padding-top: 0px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        svg {
            display: none;
        }
        .detail {
            width: 375px;
            height: 100%;
            /* height: 100vh; */
            background: #fcfaf7;
            margin: 0px auto 0;
            padding: 20px 7px 20px 7px;
            overflow: scroll;
            border-radius: 0;
            padding-top: 60px;

            .detail-photoarea {
                display: flex;
                font-size: 12px;
                .title-font {
                    font-size: 16px;
                }
                .menu_price_m {
                    font-size: 16px;
                }
                .menu_nutrition {
                    font-size: 12px;
                }
                .photo {
                    object-fit: cover;
                    object-position: 20% 60%;

                    width: 180px;
                    height: 180px;
                    border-radius: 10px;
                    margin-right: 15px;
                }

                .menu_name {
                    font-size: 14px;
                }
            }

            .choice {
                width: 100%;
                height: 25px;
                background-color: #e4d5c9;
                border-radius: 3px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                font-size: 14px;
                margin: 5px 0;
            }
            .inputArea {
                display: flex;
                .inputdetail {
                    width: 40px;
                    height: 12.15px;
                    margin: 4px 0;
                }
                .inputla {
                    font-size: 12px;
                }
            }

            .cal {
                display: flex;
                margin-top: 5px;
                height: 25px;
                font-size: 14px;

                .count {
                    width: 41px;
                    height: 25px;
                    background-color: #c5ad8f;
                    color: #fff;
                    border: none;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 3px;
                    /* box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1); */
                    /* padding: 8px 0px; */
                    white-space: nowrap;
                    cursor: pointer;
                }

                .foodcount {
                    width: 47px;
                    text-align: center;
                    border-bottom: 1px solid #d1cfcf;
                    margin-right: 5px;
                    margin-left: 5px;
                    color: #3e3e3e;
                    padding-top: 2px;
                    font-size: 12px;
                }
                .order {
                    width: 100%;
                    background-color: #b5ad8f;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                }
                .order.disabled {
                    width: 100%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                }
            }
        }
    }
}
