.aside {
    display: flex;
    width: 310px;
    height: 100vh;
    transition: 0.3s transform;
    top: 60px;
    right: 0;
    /* transform: translateX(70%); */
    background-color: #d4d0f1;
    position: fixed;
    border: 1px solid #eee5dd;
    color: #3e3e3e;
    flex-direction: column;
    z-index: 99999;
}
.aside svg {
    cursor: pointer;
}
.aside .wrapper::-webkit-scrollbar {
    display: none;
}

.aside:hover {
    /* transform: translateX(0%); */
}

.aside.hide {
    transition: 0.3s transform;
    /* display: none; */
    transform: translateX(100%);
}
.aside .top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #eee5dd;
    /* position: fixed; */
    width: 310px;
    /* height: 70px; */

}

.aside .middle {
    /* position: fixed; */
    /* bottom: 0; */
    display: flex;
    /* top: 132px; */
    height: auto;
    background-color: #fff;
    padding: 0px 10px 10px 10px;
    overflow-y: scroll;
    width: 310px;

    flex-direction: column;
    flex: 6;
}

.aside .txt {
    margin: 5px 0;
}
.aside .txt:nth-child(2) {
    border-bottom: 1px solid rgb(221, 208, 208);
}
.aside .takeout {
    display: flex;
}
.takeout .lg-field-err {
    margin: 1px 0 0 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}
.aside .takeout :nth-child(1) {
    flex-grow: 1;
}
.aside .bottom {
    padding-bottom: 10px;
}

.aside .edit {
    color: #bda382;
}
.aside img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(221, 208, 208);
    object-fit: cover;
    margin-right: 23px;
}
.aside .detail {
    display: flex;
    margin-bottom: 10px;
}
.aside .center {
    flex-grow: 1;
}
.aside .calculate {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.aside .minusplus {
    width: 19px;
    background-color: #c5ad8f;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
}
.aside .count {
    width: 46px;
    text-align: center;
    border-bottom: 1px solid #d1cfcf;
    padding: 0 10px;

    color: #3e3e3e;
}
.aside .pay {
    height: 30px;
    width: 100%;
    background-color: #253945;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #eee5dd;
    cursor: pointer;

}
.aside .pay.disabled {
    background-color: #ccc;
    color: #fff;
    cursor: pointer;

}

.payarea {
    /* position: fixed; */
    display: flex;
    /* bottom: 0; */
    width: 310px;
    background-color: #eee5dd;
    box-shadow: 0 -2px 3px #ccc;
    padding: 10px 10px 0 10px;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
}
.aside .payarea .payarea1 {
    display: flex;
}

.finaltotal {
    flex-grow: 1;
}
.grow {
    flex-grow: 2;
}
.display.none {
    visibility: hidden;
}
