.MessageBox-body {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
}
.MessageBox {
    background-color: #f5f5f5;
    box-shadow: 1px 1px 10px 1px #00000026;
    width: 400px;
    height: 200px;
    border-radius: 3px;
    margin: 0 auto;
    position: relative;
    animation: shaking 500ms cubic-bezier(0.68, -0.55, 0.265, 0.9);
    .MessageBox-btn-wrap {
        position: absolute;
        bottom: 3%;
        left: calc(50% - 187px);
    }
}
.MessageBox-title {
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #253945;
    color: #e3e7e7;
    border-radius: 3px 3px 0 0;
    position: relative;
}

.MessageBox-title::before {
    content: "x";
    font-size: 1.25rem;
    display: block;
    width: 42px;
    line-height: 42px;
    color: #e3e7e7;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.MessageBox-txt {
    text-align: center;
    width: 375px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 110px;
    color: #333;
}
.MessageBox-confirm-btn {
    background-color: #6e7b83;
    color: #fff;
    width: 182px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    text-align: center;
    margin-right: 10px;
    box-shadow: 1px 1px 10px 1px #00000026;
    cursor: pointer;
}

.MessageBox-cancel-btn {
    background-color: #a45959;
    color: #fff;
    width: 182px;
    height: 42px;
    border-radius: 3px;
    text-align: center;
    line-height: 42px;
    box-shadow: 1px 1px 10px 1px #00000026;
    cursor: pointer;
}

@keyframes shaking {
    0% {
        transform: translateX(-2%);
    }
    50% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}
