.wrap{
    // width: 100%;
    display: flex;
    height: calc(100% - 40px);
    flex-shrink: 0;

    .carousel{
        height: 100%;
        // width: 576px;
        flex-shrink: 0;
        background-color: #EFEBE5;
        aspect-ratio: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
     
        

        canvas{
            max-width: 100%;
        }
        .img_wrap{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    }
    .panel_wrap{
        flex: 1 1 auto;
        
        overflow-y: auto;
        
        &::-webkit-scrollbar {
            width: 6px;
          }
          
        &::-webkit-scrollbar-track {
            background: transparent;
          }
    
        &::-webkit-scrollbar-thumb {
            background: #c5c0ba;
            border-radius: 2.5px;
          }
    }    
    &::-webkit-scrollbar {
        width: 6px;
      }
      
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    &::-webkit-scrollbar-thumb {
        background: #c5c0ba;
        border-radius: 2.5px;
      }
}

@media (max-width:1200px) {
    .wrap{
        .carousel{
            height: auto;
         
        }
    }
}
@media (max-width:768px) {
    .wrap{
        display: block;
        
        overflow: auto;
        .carousel{
            height: auto;
            width: 100%;
        }

        .panel_wrap{
            height: unset;
        }    
    }
}