/* 選單 */
.member-menu-wrap{
    width: 188px;
}
.member-menu{
    width: 100%;
    height: 50px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue);
}
.member-menu:hover{
    background-color: var(--blue);
    color: var(--cream);
    cursor: pointer;
    border: none;
}
/* .active{
    background-color: var(--blue);
    color: var(--cream);
    cursor: pointer;
    border: none;
} */
.nav-link-active{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue);
    background-color: var(--blue);
    color: var(--cream);
    cursor: pointer;
    border: none;
}
.nav-link-active:hover{
    background-color: var(--blue);
    color: var(--cream);
    cursor: pointer;
    border: none;
}

/* 手機 */
@media (max-width: 375px){
    .member-menu-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 319px;
        height: 108px;
        margin-bottom: 120px;
    }
    .member-menu{
        width: 150px;
        height: 35px;
        margin-bottom: 15px;
    }
    .member-menu:nth-child(1){
        width: 319px;
        height: 35px;
        margin: 0;
        margin-bottom: 15px;
    }
    .nav-link-active{
        width: 150px;
        height: 35px;
        display: flex;
        flex-direction: row;
    }
}