.cart_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 110px auto 0px;
    background-color: var(--CREAM);
}

.list_wrap {
    width: 71.63%;
}

.total_wrap {
    width: 25%;
}

.modal_body {
    padding: 24px 36px;
}

@media (max-width: 1200px) {
    .cart_container {
        p, span {
            font-size: 14px;
        }
    }
}