.cart_delete {
    background-color: transparent;
    width: 36px;
    height: 36px;
    object-position: center center;
    cursor: pointer;
    border: none;
    outline: none;
    > svg {
        transition: color 0.3s ease;
        color: #324a59;
        vertical-align: -25%;
    }
    &:hover svg {
        color: red;
    }
}

.cart_list_ul {
    width: 100%;
    position: relative;
    li:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.list_style {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--DARKGRAY);
    padding: 9px 23px;
    background-color: #fff;
    @media (max-width: 768px) {
        padding: 9px 12px;
    }
    @media (max-width: 576px) {
        padding: 6px;
    }
}

.img_wrap {
    width: 100px;
    height: 100px;
    border: 1px solid var(--GRAY);
    flex-shrink: 0;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}

.p_name {
    font-size: 16px;
    color: var(--BLUE);
    flex: 2 0 0;
    text-align: center;
}

.p_price {
    font-size: 16px;
    color: var(--BLUE);
    width: 40px;
    text-align: center;
    flex: 1 0 0;
}

.p_multiply {
    font-size: 16px;
    color: var(--BLUE);
    width: 60px;
    text-align: center;
    flex: 1 0 0;
    @media (max-width: 576px) {
        display: none;
    }
}
