.list_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 23px;
    background-color: var(--GRAY);
    border-radius: 3px 3px 0px 0px;
    @media (max-width: 768px) {
        padding: 0px 12px;
    }
    @media (max-width: 576px) {
        padding: 0px 6px;
    }
    li {
        flex: 1 0 0;
    }
    .header_name {
        flex: 2 0 100px;
        @media (max-width: 768px) {
            flex: 2 0 50px;
        }
    }
    .header_trash {
        flex: none;
        width: 36px;
        height: 36px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button_group {
        width: 122px;
        flex: none;
    }
}

.header_text {
    text-align: center;
    font-size: 16px;
    color: var(--BLUE);
}

.text_start {
    text-align: left;
}

@media (max-width: 576px) {
    .text_none {
        display: none;
        flex: 0 1 0;
    }
}
