.header_button {
    outline: none;
    background-color: var(--GRAY);
    border: 1px solid transparent;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    > span {
        font-size: 16px;
        color: var(--BLUE);
        white-space: nowrap;
        svg {
            margin-left: 3px;
        }
    }
}

.modal_bord {
    padding-bottom: 21px;
}

.modal_header {
    box-shadow: 0px -9px 10px 9px #0005;
    position: relative;
    z-index: 1;
}
.modal_footer {
    text-align: right;
    box-shadow: 0px -8px 10px -9px #0005;
    position: relative;
    z-index: 1;
}

.confirm_btn {
    width: 100px;
    font-size: 16px;
    margin-top: 21px;
}

.ticket_svg {
    color: var(--BLUE);
}

.coupon_label {
    > div {
        transition: transform 0.3s ease;
    }
    &:hover > div {
        transform: translate(-3px, -3px) scale(102%);
    }
}

@media (max-width: 1200px) {
    .header_button {
        padding: 10px 16px;
        > span {
            font-size: 14px;
        }
    }
    .ticket_svg {
        width: 22px;
    }
}

@media (max-width: 992px) {
    .header_button {
        padding: 10px 12px;
    }
    .ticket_svg {
        width: 20px;
    }
}

@media (max-width: 768px) {
    .header_button {
        background-color: #fff;
        width: 25%;
        flex: 1 0 auto;
        padding: 0px;
        justify-content: flex-start;
        > span {
            padding-left: 6px;
            svg {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .header_button {
        width: 10%;
    }
    .text_none {
        display: none;
    }
}
