.detail-container {
    background-color: #EEE5DD;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    text-align: center;
}
.leastnewtitle {
    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
}
.latestnews-tag {
    padding: 10px 0 10px 0;
    justify-content: space-between;
}
.leastnewdetailImg {
    width: 100%;
}
.newslinedeco {
    width: 100%;
    height: 20px;
    background: url(../../images/frontpage/line_deco.png) ;
}
.leastnews_detail_content1 { 
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
    line-height: 2.5rem;
    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
}
.leastnews_detail_content2 {
    margin-top: 50px;
    justify-content: start;
}