.detail-container {
    padding-bottom: 50px;
    background-color: #EEE5DD;
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: center;
    text-align: center;
}
.leastnewtitle {
    padding: 20px;
    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
}
.latestnews-tag {
    padding: 10px 0 10px 0;
    justify-content: space-between;
}
.leastnewdetailImg {
    width: 100%;
    height: 650px;
}
.newslinedeco {
    width: 100%;
    height: 20px;
    background: url(../../images/frontpage/line_deco.png) ;
}
.leastnews_detail_content1 { 
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
    line-height: 2.5rem;
    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
}
.leastnews_detail_content2 {
    margin-top: 50px;
    text-align: start;
    padding-bottom: 50px;
}
.latestnewbtn-layout {
    color: brown;
    justify-content: space-between;
}
.latestnewbtn img {
    width: 50px;
}
.homebtn {
    align-items: center;
}