.mouse-container {
    background-color: transparent;
    position: absolute;
    transform: translate(50%, 50%);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 999999999;
}
.mouse-icon-wrap {
    position: relative;
}
.mouse-svg-head {
    position: absolute;
    top: -32%;
    left: 18%;
    animation: smokeElegant 3s linear infinite;
}
@keyframes smokeElegant {
    0% {
        transform: translate(1px, -1px);
        opacity: 1;
    }
    25% {
        transform: translate(3px, -3px);
    }
    50% {
        transform: translate(5px, -5px);
    }
    75% {
        transform: translate(7px, -7px);
    }
    100% {
        transform: translate(9px, -9px);
        opacity: 0;
    }
}
