.CoursePath-wrap {
    width: 128px;
    height: 500px;
    padding-top: 48px;
    padding-left: 10px;
    user-select: none;
}
.CoursePath {
    width: 128px;
    height: 500px;
}
.CoursePathFixed {
    position: fixed;
    top: 0;
}

.course-path-fixed {
    border: 1px solid transparent;
}
.CoursePaths > a {
    display: block;
    padding-bottom: 23px;
    cursor: pointer;
    font-size: 1.25rem;
    color: #898787;
    font-weight: 300;
    pointer-events: none;
}

.CoursePaths {
    cursor: pointer;
}

.CoursePaths > a:visited {
    color: #898787;
}

.CoursePaths > a:hover {
    color: #b79973;
}

.focus {
    color: #b79973 !important;
    font-weight: 600;
    position: relative;
}

.focus::after {
    content: "";
    display: block;
    border-left: 3px solid #b79973;
    height: 19px;
    position: absolute;
    top: 6px;
    left: -10px;
}

@media (max-width: 768px) {
    .CoursePath {
        display: none;
    }
    .CoursePath-wrap {
        display: none;
    }
}
