.CoursePath-wrap {
    width: 128px;
    height: 500px;
    padding-top: 48px;
    padding-left: 10px;
}
.CoursePath {
    font-size: 1.25rem;
    color: #898787;
    font-weight: 300;
}
.CoursePaths {
    padding-bottom: 23px;
    cursor: pointer;
}

.CoursePaths:hover {
    color: #b79973;
}

.focus {
    color: #b79973;
    font-weight: 600;
    position: relative;
}

.focus::after {
    content: "";
    display: block;
    border-left: 3px solid #b79973;
    height: 19px;
    position: absolute;
    top: 6px;
    left: -10px;
}

@media (max-width: 768px) {
    .CoursePath {
        display: none;
    }
}
