.option{
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    color: var(--BLUE);
    padding: .55rem 5rem;
    border-bottom: 1px solid rgb(200, 210, 220);
    
    &:last-child{
        padding: .5rem 5rem;
        border-bottom: none;
    }

    &:hover{
        background: rgb(200, 210, 220);
    }
}