.grid_top{
    display: flex;
    flex-direction: column;
    height: calc(100% - 1.75rem);

    >div{
        padding-left: 1.6rem;
 
    }
  
    .author{
        display: flex;
        margin-left: .1rem;
        margin-bottom: 1rem;

        .avatar_wrap{
            margin-right: .75rem;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            overflow: hidden;
        
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1rem;
            height: 2.25rem;
           
            .nickname{
                font-weight: 500;
                // font-family: "Kosugi Maru","Noto Sans TC",sans-serif;
            }
        }
    
    }
}

.grey_span{
    color: #787878;
    line-height: 1rem;
    font-size: 12px;
}

.post_content{
    // flex-grow: 1;
    // flex-shrink: 0;
    height: calc(100% - 2rem);
    overflow-y: auto;
    overflow-x: visible;
    // overflow-x: visible;
    padding-right: 1.5rem;


    &::-webkit-scrollbar {
        width: 6px;
      }
      
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    &::-webkit-scrollbar-thumb {
        background: #c5c0ba;
        border-radius: 2.5px;
      }

    .content_title{
        color: #324A59;
        margin-bottom: .5rem;
        // font-family: "Kosugi Maru","Noto Sans TC",sans-serif;
    }
    
    
    .topic{
        font-size: 14px;
        color: #3f5b6c;
        margin-right: 1.5rem;
        line-height: 1rem;
        // font-weight: 500;
    }

    .grey_span{
        font-size: 14px;
    }

    .toggle_a{
        font-size: 15px;
        color: #787878 ;
    }
}

.msg_wrap{
    position:absolute;
    background-color: #fff;
    width: 100%;
    padding: .5rem 1rem;
    bottom: 0;
    left: 0;
    display: flex;
    grid-row-start: 2;/*欄位從第二條橫線開始*/
    grid-row-end: 3;/*欄位從第三條橫線結束*/
    // height: 2rem;
    
    .msg_bar{
        flex: 1 0 0;
        border: 1px solid #DAD8D6;
        border-radius: 3px;
        outline: none;

        &:focus{
            border: 1.5px solid #c2bbb2;
        }
    }

    .msg_submit{
        width: 3rem;
        cursor: pointer;
        background: transparent;
        border: none;
        font-size: 14px;
        color: #324A59;
        text-align: center;
        line-height: 2rem;
        margin-left: .25rem;
    }
}

@media (max-width:768px) {
    .grid_top{
        .author{
        margin-bottom: 0.5rem;

        }
    }
    .msg_wrap{
        padding: .25rem 1rem;
    }
}