.post_detail_wrap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 25, 25, 0.8);
    animation: blowUpBg .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;


    .post_detail{
        display: flex;
        border-radius: 10px;
        width: 1066px;
        height: 820px;
        // aspect-ratio: 5/3.6;
        overflow: hidden;
        background-color: #fff;
        animation: blowUpModal .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

        .post_detail_carousel{
            height: 100%;
            aspect-ratio: 4/5;
            background-color:  #EFEBE5;
            user-select: none;
        }
        .post_detail_content{
            position: relative;
            padding: 1.25rem 0 1.25rem;
            flex:1 1 0;
            background-color: #fcfaf7;        
        }
    }
}
@keyframes blowUpBg {
    0% {
        background-color:  rgba(75, 75, 75, 0.655);
    }
    100% {
       background-color:  rgba(25, 25, 25, 0.8);
    }
  }
@keyframes blowUpModal {
    0% {
        transform:scale(.87);
    }
    100%{
        transform:scale(1);
    }
}



@media (max-width:1200px) {
    .post_detail_wrap{
        .post_detail{
            width: 90%;
            height: auto;
            aspect-ratio: 13/10;
        }
    }
}
@media (max-width:768px) {
    .post_detail_wrap{
        .post_detail{
            width: 100%;
            height: 100%;
            overflow: auto;
            .post_detail_carousel{
                width:100%;
                height: 50%;
            }
            .post_detail_content{
                position: relative;
                padding: 1rem 0;
                width: 100%;
                height: 50%;
                background-color: #fcfaf7;        
            }

            flex-direction: column;
            width: 90%;
            height: 90%;
        }
    }
}
