.CourseAddListDetailed {
    width: 1040px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #898787;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 35px;
    margin-top: 62px;
}

.course-display-none {
    display: none;
}

.CourseAddListDetailed-img {
    width: 669px;
    height: 233px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.CourseAddListDetailed-btn-red:hover {
    background-color: #a45959;
    color: #fff;
}

.CourseAddListDetailed-btn-red {
    border: none;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgb(0, 0, 0, 0.15);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    width: 669px;
    color: #6e7b83;
    background-color: #fff;
    margin-top: 19px;
    margin-bottom: 45px;
    background: url(/src/images/course/border-image.png) no-repeat;
}

.CourseAddListDetailed-btn {
    border: none;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgb(0, 0, 0, 0.15);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    width: 669px;
    color: #6e7b83;
    background-color: #fff;
    margin-top: 19px;
    margin-bottom: 45px;
    background: url(/src/images/course/border-image.png) no-repeat;
}

.CourseAddListDetailed-inp {
    background: #ffffff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    width: 669px;
    height: 282px;
    border-style: none;
    overflow: hidden;
    resize: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    margin-bottom: 45px;
}

.CourseAddListDetailed-object-inp {
    background: #ffffff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    width: 669px;
    height: 282px;
    border-style: none;
    overflow: hidden;
    resize: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    margin-bottom: 45px;
}
.CourseAddListDetailed-material-inp {
    background: #ffffff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    width: 669px;
    height: 282px;
    border-style: none;
    overflow: hidden;
    resize: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    margin-bottom: 45px;
}

.CourseAddListDetailed-date-inp {
    width: 283px;
    height: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-style: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 16px;
    margin-left: 16px;
}

.CourseAddListDetailed-time-inp {
    width: 283px;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-style: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 16px;
    margin-left: 9px;
}

.CourseAddListDetailed-select-inp {
    background: #e3e7e7;
    width: 671px;
    height: 77px;
    border-radius: 10px;
    line-height: 77px;
    position: relative;
    margin: 0 auto;
}

.CourseAddListDetailedCenter {
    text-align: center;
}

.CourseAddListDetailed-imgbtn {
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #6e7b83;
    width: 669px;
}
