.wrap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 25, 25, 0.8);

    .new_post,.new_edit{
        display: flex;
        position: relative;
        flex-direction: column;
        border-radius: 10px;
        width: 680px;
        height: 720px;
        overflow: hidden;
        background-color: #fcfaf7;

        .nav{
            position: relative;
            z-index: 5;
            width: 100%;
            height: 40px;
            line-height: 40px;
            color: #324A59;
            background-color: #fcfaf7;

            border-bottom:1px solid #DAD8D6 ;
            display: flex;
            >div{
                width: 33.33%;
                height: 100%;
                >span{
                
                    height: 100%;
                    padding: 0 .5rem;
                
                }
            }
        }

        
    }
}

.wrap{
    .new_edit{
        height: 760px;
        width: 972px;

    }
}

@media (max-width:1200px) {
    .wrap{
        .new_post{
            width: 60%;
            height: auto;
            aspect-ratio: 17/18;
        }
        .new_edit{
            width: 70%;
            height: auto;
            aspect-ratio: 10/8;
    
        }
    }
    
}
@media (max-width:768px) {
    .wrap{
        
        font-size: 14px;
        .new_post{
            width: 90%;
            height: auto;
            aspect-ratio: 17/18;
        }
        .new_edit{
            width: 90%;
            height: auto;
            aspect-ratio: 3/4;
            
    
        }
    }
}
