.post_card{
    position: relative;


    .post_card_fig{
        position: relative;
        width: 100%;
        height: 100%;
    }
    


    .like_wrap{
        position: absolute;
        display: flex;
        align-items: center;
        opacity: 0;
        cursor: pointer;
      
        top: 1rem;
        right: .75rem;
        background-color: #F62929;
        height: 2.25rem;
        
        border-radius: 2rem;
        padding: 0 .75rem;
        vertical-align: top;
        

        .like_heart{
            color: rgb(255, 255, 255);
            font-size: 1.25rem;
        }
        .liked_heart{
            color: #fff;
            font-size: 1.25rem;
            animation: pulse .75s 1 forwards;
        }

       
        @keyframes pulse {
            0%, 10% {
              transform:  scale(1);
                color: rgb(252, 252, 252);
            }
            20% {
              transform:  scale(1.35);
            }
            40% {
              transform:  scale(1);
              color: rgb(241, 119, 119);
            }
            60% {
              transform:  scale(1.25);
              color: rgb(245, 166, 166);
            }
            70%, 100% {
              transform:  scale(1.05);
              color: rgb(250, 165, 165);              
            }
          }


        .like_str{
            font-family: 'Kosugi Maru',Arial, Helvetica, sans-serif;
    
            line-height: 2.25rem;
            padding-left: .25rem;
            color: #fff;
            font-size: 1.25rem;
        }

        &:hover{
            background-color: #c61d1d;
        }

     
    }

    
    &:hover .like_wrap{
        opacity: 1;
    }
    &:hover .content_wrap .title_nickname{
        opacity: 1;
    }

    
    .content_wrap{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        

        bottom: 0;
        width: 100%;
        padding: 0 .75rem .75rem;

        .title_nickname{
            font-size: 18px;
            opacity: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;

            >span{    
                padding: 2px 10px;
                border-radius: 1rem;
                background-color: rgba(220, 220, 220, 0.9);
                color: #253945;
                
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
                
            }
            
            .nickname_span{
                max-width: 35%;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    background-color: rgba(146, 149, 156, 0.95)
                }
            }
            .title_span{
                max-width: 60%;
                text-align: end;
                
            }
        }

        .tags_wrap{
            margin-top: 2px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            >span{    
                font-size: 14px;
                padding: 2px 8px;
                margin-right: .75rem;
                margin-top: 4px;
                border-radius: 2rem;
                background-color: rgba(200, 210, 220, 0.8);
                color: #253945;
                
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
            }
          
        }

        
    }
}

