.author{
    clear: both;
    .avatar_wrap{
        float: left;
        margin-right: 1rem;
        width: 42px;
        height: 42px;
        border-radius: 42px;
        overflow: hidden;
    
        >img{
            width: 100%;
            height: 100%;
        }
    }
    .info{
        // float: right;

    }
}
