.latestnew-day {
    color: #FFFFFF;
    font-size: 16px ;
    padding-right: 200px;
}

.latestnew-title{
    color: #FFFFFF;
    font-size: 24px;
}
.titleitem-layout {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 20px;
    margin: 20px auto;
}