.home-flex-container {
    width: 1440px;
    height: 550px;
    padding: 10px 200px;
    margin: auto;
    text-align: center;
}
.leastnews-title-layout {
    margin-bottom: 20px;
}
.home-title-white {
    font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    color:rgb(255, 251, 251); 
    text-shadow: 1px 1px rgb(231, 231, 231), 2px 2px rgb(231, 231, 231), 3px 3px rgb(231, 231, 231);
}

.bottom-line-white {
    width: 160px;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

.link_from {
    transform: translateX(-100px);
    opacity: 0;
}
.link_to {
    transform: translateX(0px);
    opacity: 1;
    transition: all 1s;
}
.home-box-color {
    background-color: #324A59;
}

/* 淡出淡入效果 */
.textfrom {
    transform: translateX(-100px);
    opacity: 0;
}
.textto {
    transform: translateX(0px);
    opacity: 1;
    transition: all 2s;
}
.photofrom {
    transform: translateX(100px);
    opacity: 0;
}
.phototo {
    transform: translateX(0px);
    opacity: 1;
    transition: all 2s;
}

@media screen and (max-width:400px) {
    .home-box-color {
        padding: 0px;
    }
    .home-flex-container {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: start;
    }
}