.latestnew-day {
    color: #ffffff;
    font-size: 16px;
    padding-right: 90px;
}

.latestnew-title {
    display: flex;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.titleitem-layout {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin: 30px auto;
}
@media screen and (max-width:400px) {
    .titleitem-layout {
        display: flex;
        flex-direction: column;
        justify-items: start;
    }
    .latestnew-day {
        width: 100%;
        padding-right: 0px;
        justify-content: start;
        padding-bottom: 10px;
    }
    .latestnew-title {
        font-size: 1rem;
    }
}
