.hotfood-magin-auto {
    /* margin: auto; */
    justify-content: center;
}

.hotfood-magin-auto .hotfoodcard-place:nth-child(2), .hotfoodcard-place:nth-child(4) {
    padding-top: 100px;
}

@media screen and (max-width:374px){
    .hotfood-magin-auto .hotfoodcard-place:nth-child(2), .hotfoodcard-place:nth-child(4) {
        padding-top: 0px;
    }
}