.google-lightbox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(77, 73, 68, 0.9);
    position: fixed;
    /* opacity: 0.89; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding-top: 60px;
    svg {
        cursor: pointer;
    }
    .detail {
        width: 50%;
        height: 100%;
        /* height: 100vh; */
        background: #fcfaf7;
        margin: 0 auto;
        /* overflow: scroll; */
        position: fixed;
        right: 25%;
        left: 25%;
        color: #3e3e3e;

        .top {
            height: 60px;
            background-color: #d9dfdf;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 50%;
        }

        .middle2 {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 20px;
            margin-top: 40px;
            .mapdetail {
                height: 400px;
                width: 100%;
                .mapshow {
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    background-color: #efefef;
                    color: #3e3e3e;
                    margin: 5px 0;

                    .txt {
                        color: #b79973;
                        display: flex;
                        align-items: center;
                        .txt1 {
                            flex-grow: 2;
                        }
                        .distance {
                            width: 80px;
                            height: 40px;
                            background-color: #253945;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .bottomarea {
            width: 50%;
            height: 82px;
            background-color: #d9dfdf;
            position: fixed;
            bottom: 0;
            right: 25%;
            left: 25%;
            .bottoms {
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                background-color: #253945;
                border-radius: 3px;
                color: #eee5dd;
            }
        }
    }
}

@media (max-width: 375px) {
    .google-lightbox {
        position: absolute;
        width: 0px;
        .detail {
            width: 375px;
            height: 100%;
            right: 0%;
            left: 0%;
            .top {
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                width: 375px;
            }

            .middle2 {
                width: 375px;
                height: auto;
                padding: 0;

                .mapdetail {
                    height: 400px;
                    width: 375px;
                    .mapshow {
                        width: 375px;
                        height: auto;
                        padding: 10px;
                    }
                }
            }

            .bottomarea {
                width: 100%;
                height: 52px;
                background-color: #d9dfdf;
                bottom: 0;
                right: 0%;
                left: 0%;
                .bottoms {
                    height: 32px;
                    margin: 10px;
                    color: #eee5dd;
                }
            }
        }
    }
}
