.google-lightbox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    /* opacity: 0.89; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 999900;

    svg {
        cursor: pointer;
    }
    .detail {
        width: 80%;
        height: 100%;
        /* height: 100vh; */
        background: #fcfaf7;
        // margin: 60px auto;
        /* overflow: scroll; */
        position: relative;
        color: #3e3e3e;
        border-radius: 10px;
        left: 10%;
        right: 10%;

        .coffeeLoading {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 30%;
            z-index: 999;
            animation: fadeout 4.5s linear;
            .coffeeAnimation {
                width: 200px;
                height: 180px;
            }
            @keyframes fadeout {
                0% {
                    opacity: 1;
                }
                20% {
                    opacity: 0.99;
                }
                50% {
                    opacity: 0.95;
                }
                75% {
                    opacity: 0.75;
                }
                90% {
                    opacity: 0.6;
                }
                100% {
                    opacity: 0.35;
                }
            }
        }

        .top {
            height: 60px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 80%;
            border-radius: 10px;
            .topTxt {
                flex-grow: 1;
                text-align: center;
            }
            svg {
                cursor: pointer;
                margin-right: 20px;
            }
        }

        .middle2 {
            margin: 0 auto;
            padding: 60px 20px 0 20px;
         
            .mapdetail {
                display: flex;
                .mapshowarea {
                    width: 50%;
                    overflow: scroll;
                    height: 70vh;
                    overflow-x: hidden;
                    .mapshow {
                        width: 95%;
                        height: 95px;
                        padding: 15px;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        background-color: #fff;
                        color: #3e3e3e;
                        margin: 10px 0 0 10px;
                        cursor: pointer;
                        .branchInput {
                            display: flex;
                            .radioBtn {
                                margin-right: 20px;
                                width: 20px;
                            }
                            .maptxt {
                                flex-grow: 1;
                                .txt {
                                    color: #b79973;
                                    display: flex;
                                    align-items: center;

                                    .txt1 {
                                        flex-grow: 2;
                                    }
                                    .distance {
                                        width: 80px;
                                        height: 40px;
                                        background-color: #253945;
                                        border-radius: 10px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 14px;
                                    }
                                    .distance.disabled {
                                        visibility: hidden;
                                    }
                                }
                            }
                        }
                    }
                    .mapshow.selected {
                        background-color: #e9c5b7b6;
                        box-shadow: 4px 4px 2px 0px rgb(0 0 0 / 15%);

                    }
                    .mapshow:hover {
                        background-color: #eee5dd;
                    }
                }
            }
        }
        .selectTime {
            display: flex;
            width: 100%;
            height: 10vh;
            justify-content: space-around;
            text-align: center;

            .middle {
                display: flex;
                align-items: center;
                margin-left: 275px;
                .select {
                    font-size: 700;
                    margin-right: 10px;
                }
            }
            .middle1 {
                display: flex;
                align-items: center;
                margin-right: 300px;
                .select {
                    font-size: 700;
                    margin-right: 10px;
                }
            }
            select {
                /* styling */
                background-color: #253945;
                border: thin solid #fff;
                border-radius: 0 100px 100px 0;
                display: inline-block;
                font: inherit;
                color: #fff;
                line-height: 1.5em;
                padding: 0.5em 3.5em 0.5em 1em;

                /* reset */

                margin: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            /* arrows */
            select {
                background-image: linear-gradient(
                        45deg,
                        transparent 50%,
                        #253945 50%
                    ),
                    linear-gradient(135deg, #253945 50%, transparent 50%),
                    radial-gradient(#fff 70%, transparent 72%);
                background-position: calc(100% - 20px) calc(1em + 2px),
                    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
                background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
        .bottomarea {
            width: 80%;
            height: 60px;
            background-color: #fff;
            position: fixed;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            .bottoms {
                height: 42px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #253945;
                border-radius: 3px;
                color: #eee5dd;
                cursor: pointer;
            }
            .bottoms.disabled {
                background-color: #eee5dd;
                color: #253945;
                cursor: pointer;
                pointer-events: none;
            }
        }
    }
}

@media (max-width: 375px) {
    .google-lightbox {
        position: absolute;
        width: 0px;
        .detail {
            width: 375px;
            height: 100%;
            right: 0%;
            left: 0%;
            .top {
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                width: 375px;
            }

            .middle2 {
                width: 375px;
                height: auto;
                .mapdetail {
                    height: 400px;
                    width: 375px;
                    .mapshow {
                        width: 375px;
                        height: auto;
                        padding-left: 10px;
                    }
                }
            }

            .bottomarea {
                width: 100%;
                height: 52px;
                background-color: #d9dfdf;
                bottom: 0;
                right: 0%;
                left: 0%;
                .bottoms {
                    height: 32px;
                    margin: 10px;
                    color: #eee5dd;
                }
            }
        }
    }
}
