.nav_wrap {
    height: 60px;
    background-color: var(--BLUE);
    display: flex;
    list-style-type: none;
}

.nav_link > a {
    padding: 0px 6px;
    line-height: 60px;
}

.nav_text {
    color: white;
}

.game_list {
    position: relative;
    button {
        padding: 0px 6px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 16px;
        color: white;
        line-height: 60px;
    }
    a {
        display: block;
        width: 100%;
        white-space: nowrap;
        padding: 6px 10px;
    }
}

.game_ul {
    li {
        border: 1px solid black;
    }
}

.member_list {
    position: relative;
    button {
        padding: 0px 6px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 16px;
        line-height: 60px;
    }
    a {
        display: block;
        width: 100%;
        white-space: nowrap;
        padding: 6px 10px;
    }
}

.member_ul {
    li {
        border: 1px solid black;
    }
}
