* {
    box-sizing: border-box;
}

.navbar {
    border-bottom: 1px solid black;
}

.navUl {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

/* .navUl > li {
} */

.navUl > li > a {
    padding: 0px 40px;
    display: block;
    width: 100%;
    white-space: nowrap;
}

.memberLi button{
    padding: 0px 40px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.memberLi a {
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 6px 10px;
}

.memberUl li {
    border: 1px solid black;
}


.gameLi button{
    padding: 0px 40px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.gameLi a {
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 6px 10px;
}

.gameUl li {
    border: 1px solid black;
}
