.cart_delete_button > svg {
    transition: color .3s ease;
    color: #324A59;
    vertical-align: -25%;
}
.cart_delete_button:hover svg {
    color: red;
}
.cart_list_ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}