.btn {
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--BLUE);
    color: #fff;
}

.btn_light {
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    color: var(--BLUE);
    border: 1px solid var(--BLUE);
}