:global(.slide-enter) {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
}

:global(.slide-enter-active) {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition-delay: 0.1s;
    display: inline-block;
}

:global(.slide-enter-done) {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

:global(.slide-exit) {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

:global(.slide-exit-active) {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    display: inline-block;
}

:global(.slide-exit-done) {
    opacity: 0;
    transform: translateY(-20px);
    display: inline-block;
}

:global(.right-enter) {
    opacity: 0;
    transform: translateX(20px) rotate(45deg);
    display: inline-block;
}

:global(.right-enter-active) {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 0.15s;
    display: inline-block;
}

:global(.right-enter-done) {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    display: inline-block;
}

:global(.right-exit) {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    display: inline-block;
}

:global(.right-exit-active) {
    opacity: 0;
    transform: translateX(-20px) rotate(45deg);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: inline-block;
}

:global(.right-exit-done) {
    opacity: 0;
    transform: translateX(-20px) rotate(45deg);
    display: inline-block;
}

/* ----------------分隔線-------------------- */

:global(.fade-slide-enter) {
    opacity: 0;
    transform: translateY(10px);
    display: inline-block;
}

:global(.fade-slide-enter-active) {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    display: inline-block;
}

:global(.fade-slide-enter-done) {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

:global(.fade-slide-exit) {
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
}

:global(.fade-slide-exit-active) {
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    display: inline-block;
}

:global(.fade-slide-exit-done) {
    opacity: 0;
    transform: translateY(-10px);
    display: inline-block;
}

// --------------------------------------

:global(.fade-enter) {
    opacity: 0;
    display: inline-block;
}

:global(.fade-enter-active) {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

:global(.fade-enter-done) {
    opacity: 1;
    display: inline-block;
}

:global(.fade-exit) {
    opacity: 1;
    display: inline-block;
}

:global(.fade-exit-active) {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

:global(.fade-exit-done) {
    opacity: 0;
    display: inline-block;
}

// ----------------------------------------

:global(.left-slide-enter) {
    opacity: 0;
}

:global(.left-slide-enter-active) {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

:global(.left-slide-enter-done) {
    opacity: 1;
}

:global(.left-slide-exit) {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(100%);
}

:global(.left-slide-exit-active) {
    opacity: 0;
    transform: translateX(-80px) translateY(10px) scale(80%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

:global(.left-slide-exit-done) {
    opacity: 0;
    transform: translateX(-80px);
}

// -----------------------------------------
.tab_fade {
    &:global(-enter) {
        opacity: 0;
        // transform: translateX(-80px) translateY(10px) scale(70%);
        transform: scale(60%);
    }

    &:global(-enter-active) {
        transform-origin: 0% 0%;
        opacity: 1;
        // transform: translateX(0px) translateY(0px) scale(100%);
        transform: scale(100%);
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    &:global(-enter-done) {
        opacity: 1;
        // transform: translateX(0px) translateY(0px) scale(100%);
        transform: scale(100%);
    }

    &:global(-exit) {
        opacity: 1;
        // transform: translateX(0px) translateY(0px) scale(100%);
        transform: scale(100%);
    }

    &:global(-exit-active) {
        transform-origin: 0% 0%;
        opacity: 0;
        // transform: translateX(-80px) translateY(10px) scale(70%);
        transform: scale(60%);
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    &:global(-exit-done) {
        // transform: translateX(-80px) translateY(10px) scale(700%);
        transform: scale(60%);
        opacity: 0;
    }
}

// --------------------------------------------------------------

:global(.animate__animated) {
    animation-fill-mode: both;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    to {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.card_fade {
    &:global(-enter) {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
    }

    &:global(-enter-active) {
        animation: jackInTheBox 1s;
    }

    &:global(-enter-done) {
        opacity: 1;
        transform: scale(1);
    }

    &:global(-exit) {
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }

    &:global(-exit-active) {
        animation: zoomOutDown 1s;
    }

    &:global(-exit-done) {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    }
}
