.Course-container {
    background-color: #fcfaf7;
    min-width: 1440px;
    letter-spacing: 0.07rem;
}
.CourseDetailed-container {
    background-color: #fff;
    min-width: 1440px;
    letter-spacing: 0.07rem;
}

@media (max-width: 768px) {
    .Course-container {
        min-width: 768px;
    }
    .CourseDetailed-container {
        width: 768px;
    }
}

@media (max-width: 375px) {
    .Course-container {
        min-width: 375;
    }
    .CourseDetailed-container {
        width: 375px;
    }
}
