.Course-container {
    background-color: #fcfaf7;
    min-width: 1440px;
    letter-spacing: 0.07rem;
    user-select: none;
}
.CourseDetailed-container {
    background-color: #fff;
    min-width: 1440px;
    letter-spacing: 0.07rem;
    user-select: none;
}

.CourseAdd-container {
    min-width: 1440px;
    user-select: none;
    background-color: #e3e7e7;
    letter-spacing: 0.07rem;
}

.CourseManage-wrap {
    height: 100%;
    background-color: #e3e7e7;
    user-select: none;
}

.CourseManage-container {
    background-color: #e3e7e7;
    min-width: 1440px;
    padding-bottom: 30px;
}

.course-page-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #999;
    text-align: center;
    margin-right: 3px;
    border-radius: 3px;
    border: 1px solid #eee;
    cursor: pointer;
}

.course-page-btn:hover {
    background-color: #d1cfcf;
}
.course-page-btn-focus {
    background-color: #b79973;
    color: #fff;
}

.course-page-btn-focus:hover {
    background-color: #b79973;
    color: #fff;
}

.course-manage-page-btn-focus {
    background-color: #8b959c;
    color: #fff;
}

.CourseAdd-grey {
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #6e7b83;
    width: 290px;
}

.CourseAdd-red {
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #a45959;
    width: 290px;
}

.course-pages {
    margin: 60px 0 30px;
}

.coffee-cardaniwrapbf {
    position: relative;
    left: -300px;
    opacity: 0;
}
.coffee-cardaniwrapat {
    position: relative;
    left: 0px;
    transition: 1s;
    opacity: 1;
}

@media (max-width: 375px) {
    .coffee-cardaniwrapbf {
        left: -100px;
    }
}

@media (max-width: 768px) {
    .Course-container {
        min-width: 768px;
    }
    .CourseDetailed-container {
        min-width: 768px;
    }
}

@media (max-width: 375px) {
    .Course-container {
        min-width: 375px;
    }
    .CourseDetailed-container {
        min-width: 375px;
    }
}
