.wrap{
    padding: 1rem 1.5rem;
   
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
        
       
    &::-webkit-scrollbar {
        width: 6px;
      }
      
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    &::-webkit-scrollbar-thumb {
        background: #c5c0ba;
        border-radius: 2.5px;
      }


    select,input{
        font-size: 16px;
        border: none;
        border-bottom: 1.5px solid rgb(206, 205, 203);
        background: transparent;
        height: 2.25rem;
        padding-left: 3px;

        &::placeholder{
            font-size: 16px;
            color: #DAD8D6;
            padding-left: 0;
        }
    }

    textarea{
        font-size: 16px;
        resize: none;
        width: 100%;
        border: none;
        background: transparent;
        padding: 2px 4px;
        margin-bottom: .25rem;

        &::placeholder{
            font-size: 16px;
            color: #DAD8D6;
            font-weight: normal;
        }

        &::-webkit-scrollbar {
            width: 6px;
          }
          
        &::-webkit-scrollbar-track {
            background: transparent;
          }
    
        &::-webkit-scrollbar-thumb {
            background: #c5c0ba;
            border-radius: 2.5px;
          }
    }

    input[name="tag"]{
        width: 33.33%;
        min-width: 5rem;
    }

    .title_wrap{
        display: flex;
        margin-bottom: 1.5rem;

        >select{
            width: 4rem;
            margin-right: 1rem;
        }
        >input{
            flex: 1 1 auto;
            margin-left: auto;
            width: 50%;
        }
    }

    .limit{
        display: flex;
        width: 100%;
        border-bottom: 1.5px solid rgb(206, 205, 203);
        height: 1.5rem;

        >span{
            vertical-align: text-bottom;
            margin-left: auto;
            font-size: 12px;
            color: #DAD8D6;
        }

    }
}

@media (max-width:1080px) {
    .wrap{
        padding: 1rem;
    }
}

@media screen {
    .wrap{
        height: auto;
        padding-bottom: 1.5rem;
    }
    
}