*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Noto Sans TC', sans-serif;
}

/* 標題字體-圓體 */
.title-font{
  font-family: 'Kosugi Maru', sans-serif;
}

/* --flex-- */
.d-flex{
  display: flex;

}

.f-jcc{
  justify-content: center;
}

.f-aic{
  align-items: center;
}


