/* 標題字體-圓體 */
.title-font{
  font-family: 'Kosugi Maru', sans-serif;
}

/* flex */
.d-flex{
  display: flex;

}

.f-jcc{
  justify-content: center;
}

.f-aic{
  align-items: center;
}

/* card */

.card-shadow {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
}

.br-10 {
  border-radius: 10px;
}

.card-mr{
  margin-right: 30px;
}

.card-mb{
  margin-bottom: 40px;
}

