.CourseContentItem-wrap {
    justify-content: space-between;
    padding-bottom: 21px;
}
.CourseContentItem {
    background-color: #ffffff;
    width: 872px;
    margin-top: 48px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #00000026;
    user-select: none;
}
.CourseContent-title {
    padding-top: 39px;
    padding-left: 49px;
    font-size: 1.3125rem;
    color: #3e3e3e;
}
.arrow-icon {
    color: #3e3e3e;
    margin-right: 20px;
    text-align: center;
    line-height: 64px;
    width: 64px;
    height: 64px;
    transform: translateY(13px);
    background: url(/src/images/course/top-arrow-icon.png) no-repeat center
        center;
}

.arrow-icon-down {
    color: #3e3e3e;
    margin-right: 20px;
    text-align: center;
    line-height: 64px;
    width: 64px;
    height: 64px;
    transform: translateY(13px);
    background: url(/src/images/course/down-arrow-icon.png) no-repeat center
        center;
}

.arrow-icon-down:hover {
    background-color: #f5efeb;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-icon:hover {
    background-color: #f5efeb;
    border-radius: 50%;
    cursor: pointer;
}

.CourseContent-text {
    width: 774px;
    margin: auto;
    font-size: 1.125rem;
    line-height: 35px;
    padding-bottom: 55px;
}
.CourseContent-text-color {
    color: #898787;
}

.CourseContentItem-text-color {
    color: #898787;
}
.CourseContentItem-text {
    display: none;
}
.CourseContent-text::before {
    display: block;
    content: "";
    border: 2px solid #e4d5c9;
    margin-bottom: 31px;
    width: 820px;
    transform: translateX(-23px);
}

.CourseContent-wrap {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .CourseContentItem {
        width: 537px;
    }

    .CourseContent-text {
        width: 477px;
    }
    .CourseContent-text::before {
        width: 505px;
        transform: translateX(-16px);
    }
}

@media (max-width: 375px) {
    .CourseContentItem {
        width: 319px;
    }

    .CourseContent-text {
        width: 283px;
    }

    .CourseContent-text::before {
        width: 299px;
        transform: translateX(-10px);
    }

    .CourseContent-wrap {
        justify-content: center;
    }
}
