/* :root {
    --blue: rgb(37, 57, 69);
    --cream: rgb(252, 250, 247);
    --gold: rgb(183, 153, 115);
    --gray: rgb(217, 217, 217);
    --dark-gray: rgb(203, 203, 203);
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cream);
}
.mc-wrap-main{
    /* 限制範圍 */
    width: 1440px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.mc-container{ 
    /* 扣掉左右200px */
    width: calc( 100% - 400px );
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.mc-card{
    width: 250px;
    height: 360px;
    background-color: var(--gray);
    border-radius: 10px;
    margin-bottom: 60px;
    border:1px solid rgba(255, 255, 255, 0.18);
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.flipped {
    transform: rotateY(180deg);
}
.cardF{
    position: relative;
    width: 250px;
    height: 360px;
    border-radius: 10px;
    background-color: var(--gray);
    backface-visibility: hidden; 
    background: url(/src/images/member/silver-front.jpg) ;
}
.cardF-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 180px;
    text-align: center;
}
.cardF-desc{
    font-size: 8px;
    color: var(--blue);
    margin-top: 15px;
}
.cardB{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 360px;
    border-radius: 10px;
    background-color: var(--gray);
    transform: rotateY(180deg);
    backface-visibility: hidden; 
    background: url(/src/images/member/silver-back.jpg) ;
}
.cardB-desc{
    font-size: .8rem;
    color: var(--blue);
    /* margin-top: 10px; */
    padding: 30px 0 0 20px;
}
/* .cardB-desc::before{
    content:" ";
    display:block; 
    width: 180px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
} */
/* .cardB-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-left: 50px;
    padding-top: 243px;
} */
.cardB-level{
    color: rgb(156, 131, 95);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 50px 0 0 25px;
}
.cardB-level>span{
    color: rgb(156, 131, 95);
    margin-left: 10px;
    letter-spacing: normal;
}
.mc-like, .mc-coupon{
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 36px;
    padding-bottom: 10px;
    cursor: pointer;
    
}
.mc-like>p, .mc-coupon>p{
    color: var(--blue);
    margin-left: 20px;
    
}
/* .fa-angle-right{
    position: absolute;
    right: 0px;
} */
.mc-menu-wrap{
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.mc-user-name{
    color: var(--blue);
    font-size: 1.9rem;
    font-weight: 600;
}
.mc-user-name::after{
    content:" ";
    display:block; 
    border-bottom: 1px solid var(--gray);
    width: 100%;
    margin: 60px 0;
}
.mc-menu{
    width: 255px;
    height: 168px;
    background-color: white;
    color: var(--blue);
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgb(0,0,0,0.15);
    margin-bottom: 35px;
    padding: 41px 75px;
    cursor: pointer;
}
.mc-menu:hover{
    background-color: var(--blue);
    color: var(--cream);
    transform: translateY(-5px);
    transform: scale(103%);
    transition: .3s;
    box-shadow: 5px 5px 5px 0px rgb(0,0,0,0.4);
}
/* .mc-menu>i{
    font-size: 2.5rem;
} */
.mc-menu::after{
    display:block;
    margin-top: 20px;
}
.mc-menu>p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 15px;
}
/* .mc-menu:nth-child(1)::after{
    content:"會員資料";
}
.mc-menu:nth-child(2)::after{
    margin-top: 15px;
    content:"歷史訂單";
}
.mc-menu:nth-child(3)::after{
    content:"分享記錄";
}
.mc-menu:nth-child(4)::after{
    margin-top: 15px;
    content:"我的點數";
} */

/* 提示訊息 */
.mr-msg-wrap{
    width: 300px;
    height: 150px;
}
.mr-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150px;
    cursor: pointer;
}
.dark-bg{
    background-color: #000000e0;
}