.form_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 48px auto 0px;
    background-color: var(--CREAM);
    outline: 1px solid red;
}

.form_wrap {
    width: 71.63%;
}

.total_wrap {
    width: 25%;
}