.form_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 48px auto 0px;
    background-color: var(--CREAM);
    @media (max-width: 768px) {
        margin: 48px auto 110px;
    }
}

.form_wrap {
    width: 71.63%;
    overflow: hidden;
}

.total_wrap {
    position: relative;
    width: 25%;
    height: fit-content;
}

@media (max-width: 768px) {
    .form_wrap {
        width: 100%;
    }
    .total_wrap {
        position: fixed;
        width: 100%;
        top: auto !important;
        bottom: 0px;
        left: 0px;
        height: fit-content;
        display: flex;
        padding: 25px 50px;
        background-color: #fff;
    }
}
@media (max-width: 576px) {
    .total_wrap {
        padding: 25px 16px;
    }
}