.dot {
    background-color: rgb(40, 39, 39);
    width: 20px;
    height: 20px;
}

.dot_active {
    background-color: rgb(254, 254, 254);
}


/* 左右箭頭的樣式在這裡定義 */
.swiper-button-prev::after {
    /* font-size: 12px; */
    content: "prev";
    background-image:url(../../../images/frontpage/material/star-left-arrow.svg) ;
}

.swiper-button-next::after {
    content: "next";
}

.drag_bar {
    height: 5px;
}