* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cream);
}
.like-wrap-main {
    /* 限制範圍 */
    width: 1440px;
    margin: 90px auto 90px;
}
.like-container {
    /* 扣掉左右200px */
    width: calc(100% - 400px);
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* 收藏預覽 */
.like-wrap-right {
    width: 688px;
    min-height: 800px;
    height: 100%;
}
.like-wrap {
    display: block;
}
.like-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);
    margin-bottom: 30px;
    transition: 0.2s ease-out;
}
.like-info:hover {
    box-shadow: 4px 4px 5px 0px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translateY(-3px);
    border: 1px solid var(--dark-gray);
}
.like-info:hover {
    cursor: pointer;
}
.like-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 555px;
    padding: 15px 0;
}
.like-content {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-pic {
    background-color: var(--gray);
    width: 120px;
    height: 120px;
    /* margin-right: 30px; */
}
.like-name {
    word-wrap: break-word;
    /* margin-right: 30px; */
    color: var(--blue);
    font-weight: 600;
}
.like-price {
    /* margin-right: 45px; */
    color: var(--gold);
    font-weight: 600;
}
.like-price > span {
    color: var(--blue);
    font-size: 0.8rem;
    font-weight: 500;
}
.like-btn {
    color: var(--blue);
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--blue);
    color: var(--cream);
    padding: 5px 8px;
    cursor: pointer;
}

/* 提示訊息 */
.li-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.li-msg-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
}
.li-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
}
.li-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
    border-radius: 3px;
    color: var(--cream);
    border: none;
    background-color: var(--blue);
    margin: 0 20px 50px 20px;
    cursor: pointer;
}

.like-enter {
    opacity: 0;
    transform: translateX(-80px) translateY(10px) scale(70%);
}

.like-enter-active {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(100%);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.like-enter-done {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(100%);
}

.like-exit {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(100%);
}

.like-exit-active {
    opacity: 0;
    transform: translateX(-80px) translateY(10px) scale(70%);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.like-exit-done {
    transform: translateX(-80px) translateY(10px) scale(700%);
    opacity: 0;
}
