.CourseAddList {
    width: 1040px;
    height: 490px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 29px;
    color: #898787;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 35px;
}

.CourseAddList-wrap {
    justify-content: center;
    padding-top: 43px;
}

.CourseAddList-img {
    width: 245px;
    height: 244px;
    background-color: #d1cfcf;
    border-radius: 10px;
    margin: 6px 0 13px;
    border: 1px solid #d9d9d9;
}

.coursenameinp {
    width: 361px;
    height: 40px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-style: none;
    line-height: 19px;
    font-size: 1rem;
    margin-bottom: 58px;
    font-weight: 300;
}

.coursepriceinp {
    width: 272px;
    height: 40px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-style: none;
    line-height: 19px;
    font-size: 1rem;
    margin-bottom: 58px;
    font-weight: 300;
}

.courselevelinp {
    width: 361px;
    height: 40px;
    background: #ffffff;
    color: #3e3e3e;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-style: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/src/images/course/sort-img-01.png) no-repeat 92% 50%;
    padding-left: 17px;
    margin-bottom: 45px;
}

.courseintroduceinp {
    width: 669px;
    height: 120px;
    border-style: none;
    background: #ffffff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    overflow: hidden;
    resize: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 85px;
}

.courseintroduceinp::placeholder {
    color: #d9d9d9;
}

.CourseAddList-btn {
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px 0px rgb(0, 0, 0, 0.1);
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #6e7b83;
    width: 245px;
}

.course-add-error-txt {
    color: #bd4949;
}
